<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
    <div class="col-8 offset-2">
        <br><br>
    <form method="post" action="/listings"  novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title"  class="form-label">Title</label>
            <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required> 
            <div class="valid-feedback">Title looks Good!</div>
            <div class="invalid-feedback">Provide a good title</div>
        </div>
        
 
        <div class="mb-3">
            <label for="description"  class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" type="text" class="form-control" required></textarea>
            <div class="invalid-feedback">Please provide some information</div>
        </div>
        
        <div class="row">
            <div class=" mb-3 col-md-8">
                <label for="Image" class="form-label">Upload Image</label>
                <input name="listing[image]" type="file" class="form-control">
            </div>
            <div class="mb-3 col-md-4">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" id="category" name="listing[category]">
                  <option selected>Rooms</option>
                  <option value="Castles">Castles</option>
                  <option value="Amazing_Pool">Amazing Pools</option>
                  <option value="Hotels">Hotels</option>
                  <option value="Bed_Breakfasts">Bed&Breakfasts</option>
                  <option value="Farms">Farms</option>
                  <option value="Mountain_views">Mountain Views</option>
                  <option value="Arctic">Arctic</option>
                  <option value="Igloos">Igloos</option>
                  <option value="Skin_in">Skin-in/out</option>
                  <option value="Top_cities">Top Cities</option>
                  <option value="Camping">Camping</option>
                  <option value="Historical">Historical</option>
                  <option value="House_Boats">Houseboats</option>
                  <option value="Towers">Towers</option>
                </select>
              </div>
        </div>
       
 
       <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="Enter Price"  class="form-control" required>
            <div class="invalid-feedback">Provide a valid price</div> 
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
            <div class="invalid-feedback">Provide a valid country name</div>
        </div>
       </div> 
  
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Bengaluru,Noida" type="text" class="form-control" required>
            <div class="invalid-feedback">Provide a valid location</div> 
        </div>
       
        <button class="btn btn-dark add-btn">Add Listing</button>
        
    </form>
</div>
</div>
<br>
</body>